@media (max-width: 1245px) {
    header {
        font-size: 10px;
    }
    .deliveryInfo {
        margin-left: 10px;
    }
    .map {
        height: 10vw;
    }
    .paymentAndDelivery {
        height: fit-content;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
}

@media (max-width: 900px) {
    .slide-2 {
        grid-column: span 2;
    }
    .slide-4 {
        display: none;
    }
    .newProducts {
        grid-template-columns: repeat(3,1fr);
    }
    .newProduct:nth-last-child(1) {
        display: none;
    }
    .paymentAndDelivery {
        padding: 10px 10px;
    }
    .socialLinks {
        grid-template-columns: repeat(3,auto);
    }
    .socialLink:nth-last-child(1) {
        grid-column: span 3;
    }
    footer {
        font-size: 13px;
    }
}

@media (max-width: 990px) {
    .products {
        grid-template-columns: repeat(3,1fr);
    }
    .map {
        display: none;
    }
    .phoneNumber {
        font-size: 2vw;
    }
    .footer-info {
        width: 100%;
    }
    .footer-info a:nth-last-child(1) {
        text-align: end;
    }
}

@media (max-width: 740px) {
    .products {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1520px) {
    .footer-info {
        width: 80%;
    }
}