.paymentAndDelivery {
    background-color: #E3ECF5;
    width: 100vw;
    height: 35vw;
    padding: 3vw 10vw;
    padding-bottom: 0;
    box-sizing: border-box;
    margin: 40px 0 5px 0;
}

.payment-imageContainer {
    width: 70px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    transform: translateY(-3.5vw);
}

.payment-image {
    width: 85%;
}

.payment-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(5,auto);
    gap: 1vw;
    height: 70%;
}

.paymentInfo p {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    transform: translateY(-3.5vw);
}

.paymentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 14px;
    text-align: center;
}

.map {
    background-color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    grid-row: span 4;
    grid-column: span 4;
    height: 100%;
}

.paymentAndDelivery h3 {
    text-align: center;
    margin-bottom: 60px;
}