.sliderContainer {
    display: grid;
    width: 150vw;
    transform: translateX(-25vw);
    grid-template-columns: repeat(4,1fr);
    gap: 2vw;
} 

.slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-container {
    height: 23vw;
    width: 100%;
    border-radius: 13px;
    overflow: hidden;
}

.sliderControl {
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
    box-sizing: border-box;
}

.controlBtn {
    background-color: #f7d22d;
    width: 35px;
    height: 35px;
}