.slider {
    position: relative;
}

.sliderContainer {
    display: grid;
    width: 150vw;
    transform: translateX(-25vw);
    grid-template-columns: repeat(4,1fr);
    gap: 2vw;
} 

.slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-container {
    height: 23vw;
    width: 100%;
    border-radius: 13px;
    overflow: hidden;
}

.sliderControl {
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    box-sizing: border-box;
}

.controlBtn {
    background-color: #F7D22DE5;
    width: 3.2%;
    height: 12%;
    box-sizing: border-box;
    padding: 5px;
}