.sliderContainer {
    width: 140vw;
    position: absolute;
    top: 150px;
    margin: 0 -30vw;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1vw;
    /* overflow: hidden; */
} 

.slide {
    height: 400px;
    /* width: 34vw; */
    width: 100%;
    border-radius: 25px;
}

.sliderControl {
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
    box-sizing: border-box;
}

.controlBtn {
    background-color: #f7d22d;
    width: 35px;
    height: 35px;
}