body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    position: relative;
}

::-webkit-scrollbar {
    width: 0;
}

.yellow {
    color: #F7D22D;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
    transition: 0.1s;
}

button {
    height: 45px;
    width: 170px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
    transition: 0.1s;
}

h4 {
    font-weight: 700;
    font-size: 24px;
    color: #231F20;
}

h3 {
    font-weight: 800;
    font-size: 32px;
}

h2 {
    align-self: center;
    font-size: 44px;
    font-weight: 800;
}

.chel, 
.baba,
.ppf {
    position: absolute;
}

.chel,
.baba {
    height: 30vw;
    width: 20vw;
}

.chel {
    left: -21vw;
    top: 0;
    transform: rotateZ(20deg);
}

.baba {
    width: 25vw;
    right: -23vw;
    bottom: -100px;
    transform: rotateY(180deg);
}

.float-image {
    height: 100%;
    width: 100%;
}

.ppf {
    bottom: 0;
    right: 0;
    height: 10vw;
    width: 25vw;
}

.newProducts {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
    margin-top: 40px;
    gap: 25px;
}

.newProduct {
    width: 100%;
    height: 99px;
    display: flex;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 10px;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: center;
}

.newPizza {
    height: 70%;
    margin-right: 7%;
}

.new-info {
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: space-between;
}

.new-name {
    font-weight: 700;
    font-size: 18px;
}

.new-price {
    font-weight: 800;
    font-size: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 13vw;
    box-sizing: border-box;
    padding: 40px;
}

.newIcon {
    width: 50px;
    height: 40px;
    position: absolute;
    right: 0;
}

.product-row {
    justify-content: space-between;
}

.promotions {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 20px;
    gap: 3% 1%;
    margin-bottom: 50px;
}

.promo-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.promo:nth-child(n+2) {
    height: 15vw;
}

.promo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.allPromoBtn {
    background-color: #fcd34d;
    color: #fff;
    align-self: center;
    border-radius: 23px;
}